* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: black;
    display: grid;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
}

.wrap-img {
    background: url('../300x250/BE01077_Magiclean-Hygiene-plus-Digital-banner_300x250_0011_bg.png') no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    position: relative;
    width: 300px;

    figure {
        margin: 0 auto;
        position: absolute;

        img {
            display: grid;
        }

        &.img-static {
            top: 0;
            z-index: 4;
        }

        &.img-animation {

            &.a {
                animation: a 2s ease 3;
                top: 59px;
                left: 26px;
                z-index: 3;

                @keyframes a {
                    0% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(1.08);
                    }

                    100% {
                        transform: scale(1);
                    }
                }
            }

            &.b {
                animation: b 2s ease 3 0.2s;
                left: 136px;
                top: 174px;
                z-index: 3;

                @keyframes b {
                    0% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(1.24);
                    }

                    100% {
                        transform: scale(1);
                    }
                }
            }

            &.c {
                animation: c 2s ease 3 0.6s;
                left: 168px;
                top: 177px;
                z-index: 4;

                @keyframes c {
                    0% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(1.24);
                    }

                    100% {
                        transform: scale(1);
                    }
                }
            }

            &.d {
                animation: d 3s ease 2;
                left: 162px;
                top: 49px;
                z-index: 3;

                @keyframes d {
                    0% {
                        transform: translateY(0);
                    }

                    50% {
                        transform: translateY(-16px);
                    }

                    100% {
                        transform: translateY(0);
                    }
                }
            }

            &.e {
                animation: e 3s ease 2 0.2s;
                left: 162px;
                top: 105px;
                z-index: 3;

                @keyframes e {
                    0% {
                        transform: translateY(0);
                    }

                    50% {
                        transform: translateY(-16px);
                    }

                    100% {
                        transform: translateY(0);
                    }
                }
            }

            &.f {
                left: 50px;
                top: 177px;
                z-index: 2;
                animation: f 2s ease;

                @keyframes f {
                    from {
                        opacity: 0;
                        transform: scale(0.4) translate(-40px, -148px);
                    }

                    to {
                        opacity: 1;
                        transform: scale(1) translate(0, 0);
                    }
                }
            }

            &.g {
                left: 43px;
                top: 170px;
                z-index: 1;
                animation: g 2s ease;

                @keyframes g {
                    from {
                        opacity: 0;
                        transform: scale(0);
                    }

                    to {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }

            &.h {
                left: 58px;
                top: 182px;
                z-index: 1;
                animation: h 2s ease;

                @keyframes h {
                    from {
                        opacity: 0;
                        transform: scale(0);
                    }

                    to {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }

            &.i {
                left: 11px;
                top: 179px;
                z-index: 1;
                animation: i 2s ease;

                @keyframes i {
                    from {
                        opacity: 0;
                        transform: scale(0);
                    }

                    to {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }

            &.j {
                animation: j 1s linear;
                bottom: 0;
                left: 0;
                z-index: 0;

                @keyframes j {
                    0% {
                        opacity: 0;
                        transform: translateY(-2%);
                    }

                    50% {
                        opacity: 0;
                        transform: translateY(-1%);
                    }

                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}